<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <Fragment>
    
    <!--Product Components-->
    <ComponentGroup Id="ProductComponents" >
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->

      <!--Shortcut-->
      <ComponentRef Id="StartMenuAppShortcut" />
      
      
      <!--Desktop Shortcut-->
      <ComponentRef Id="ComponentDesktopShortcut" />
      
      <!--Dynamic Folders-->
      <ComponentRef Id="DynamicFolders"/>

      <!--clenup on uninstall-->
      <ComponentRef Id="CleanupMainApplicationFolder"/>
		
		<!--Permission to write log-->
      <ComponentRef Id="GrantPermissionsToAppFolder"/>
      
    </ComponentGroup>


    <Property Id="INSTALLFOLDER">
      <RegistrySearch Key="SOFTWARE\!(loc.Manufacturer)\!(loc.ProductName)" Root="HKLM" Type="raw" Id="INSTALLFOLDER_REGSEARCH" Name="Path" />
    </Property>
    <!--Installed files-->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\POSSystem.UI\bin\$(var.Platform)\$(var.Configuration)\">
       
      <Component Id="StartMenuAppShortcut" Guid="{BFB16C04-138C-4444-8CB4-2FB8BD125B9F}">
        <!--Directory="POSSystemMenuFolder"-->
        <Shortcut Id="StartMenuAppShortcut" 
                  Name="!(loc.ProductNameFolder)" 
                  Target="[INSTALLFOLDER]POSSystem.exe"                  
                  Directory="POSSystemMenuFolder" 
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"/>
        
        <!--Uninstallation shortcut-->

        <?if $(var.Platform) = x64?>
            <Shortcut Id="UninstallProduct"
                             Name="Uninstall !(loc.ProductNameFolder)"
                             Description="Uninstalls !(loc.ProductName_$(var.Platform)) from the system."
                             Target="[System64Folder]msiexec.exe"
                             Directory="POSSystemMenuFolder"
                             WorkingDirectory="INSTALLFOLDER"
                             Icon="icon.ico"
                             Arguments="/x !(loc.ProductCode_x64)"/>
        <?else?>
        <Shortcut Id="UninstallProduct"
                         Name="Uninstall !(loc.ProductNameFolder)"
                         Description="Uninstalls !(loc.ProductName_$(var.Platform)) from the system."
                         Target="[SystemFolder]msiexec.exe"
                         Directory="POSSystemMenuFolder"
                         WorkingDirectory="INSTALLFOLDER"
                         Icon="icon.ico"
                         Arguments="/x !(loc.ProductCode_x86)"/>
        <?endif?>
       
        
        <!--Our unique key for this component/shortcut-->
        <RegistryValue Id="RegShortcutKey" 
                       Root="HKCU" 
                       Key="SOFTWARE\$(loc.ProductNameFolder)" 
                       Name="Shortcut" 
                       Value="1" 
                       Type="integer" 
                       KeyPath="yes"/>
        
        <!--Remove start menu items-->
        <RemoveFolder Id="RemoveStartMenu" Directory="POSSystemMenuFolder" On="uninstall"/>
        
      </Component>

      <Component Id="ComponentDesktopShortcut" Guid="{C8F23D78-810A-4834-BBC5-3A2A887D579E}" >
        <Shortcut Id="AppDesktopShortcut"
                  Name="!(loc.ProductNameFolder)"
                  Directory="DesktopFolder"
                  Target="[INSTALLFOLDER]POSSystem.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"/>
        
        <!--Remove desktop shortcut on uninstall-->
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\$(loc.ProductNameFolder)" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
        
        
       
      </Component>



      <Component Id="DynamicFolders" Guid="{BA5209B4-78E7-4A03-B525-57E15890D6B6}">
        
        <RemoveFolder Id="BillsFolder" Directory="Bills" On="uninstall"/>
        <RemoveFolder Id="LogsFolder" Directory="Logs" On="uninstall"/>

        <!--Registry key to remember above folders-->
        <RegistryValue Id="DynFolderKey"
                       Root="HKCU"
                       Key="SOFTWARE\$(loc.ProductNameFolder)"
                       Name="DynamicFolder"
                       Value="1"
                       Type="integer"
                       KeyPath="yes"/>
      </Component>
      
    </DirectoryRef>


    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="CleanupMainApplicationFolder" Guid="{76BD9E32-3B24-4F42-AF93-9A0F531DBC89}">
        <RemoveFile Id="RemoveAllFilesOnUninstall" Directory="INSTALLFOLDER" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveAllFoldersOnUninstall" Directory="INSTALLFOLDER" On="uninstall" />

        
        <RegistryValue Root="HKLM" Key="SOFTWARE\!(loc.Manufacturer)\!(loc.ProductName)" Name="Path" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx
             will not remove on "install". 
        <?define Logs = [Logs]?>-->
        <util:RemoveFolderEx On="uninstall" Property="INSTALLFOLDER" />
		 
      </Component>


		<!--Give full permission to current user to create folder and write log-->
		<Component Id="GrantPermissionsToAppFolder" Guid="{5408A7C5-A294-4349-9768-EB3CA2CB14EB}">

			<CreateFolder>
				<!--<util:PermissionEx
					GenericAll="yes"
					CreateFile="yes"
					User="[UserSID]"
					Domain="[%USERDOMAIN]"/>-->
				
				<!--<Permission 
					GenericAll="yes"
					CreateFile="yes"
					User="[UserSID]" 
					Domain="[%USERDOMAIN]"/>-->
				<Permission 
					GenericAll="yes"
					CreateFile="yes"
					User="Users" />

				<Permission
					GenericAll="yes"
					CreateFile="yes"
					User="Everyone"/>
			</CreateFolder>

		</Component>		
    </DirectoryRef>

    
    
  </Fragment>
  
  
  
</Wix>
